/* start add css variable */
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --akwa-ibom-green: #00703c; /* Akwa Ibom Green #00703c */
  --akwa-ibom-orange: #f7941d; /* Akwa Ibom Orange #f7941d */
    --background-color: #f5f7fa; /* Light grey background #f5f7fa*/
    --sidebar-bg-color: #2c3e50;
    --sidebar-hover-bg-color: #34495e;
    --sidbar-text-color: #ecf0f1;
    --text-color: #333;
    --card-bg-color: #fff;
    --card-shadow: rgba(0,0,0,0.1);
    --font-family: 'Montserrat', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}